/* Media Breakpoints below here*/
/*
https://gist.github.com/needim/d15fdc2ac133d8078f7c

 SHORTCUT LINK goo.gl/aLnHfZ


  Based on:
  1. http://stephen.io/mediaqueries
  2. https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media all and (max-width: 1280px) {
  header .logoContainer form input[type=text]:focus {
    width: 60%;
  }
}

@media all and (max-width: 980px) {
  header .headernavContainer {
      width: 100%;
  }

  header .logoContainer {
    width: 100%;
    padding: 0.5em 0.5em 0 0.5em;
  }

  header .logoContainer form input[type=text] {
    width: 8em;
}

header .middlenavContainer{
  font-size: 0.8em;
}

header .bottomnavContainer li{
  padding: 0 3em;
}

  footer .subscriptionFooter .subscriptionContainer p {
    width: 35%;
}

  footer .subscriptionFooter .subscriptionContainer {
    width: 36em;
    margin: auto;
  }

  footer .subscriptionFooter .subscriptionContainer form
  {
    width: 49%;
    text-align: right;
  }
}

@media all and (max-width: 736px) {
  header .middlenavContainer {
    font-size: 0.7em;
  }

  header .bottomnavContainer li{
    padding: 0 2em;
  }
}

@media all and (max-width: 630px) {
  header .middlenavContainer {
    font-size: 0.6em;
  }

  header .bottomnavContainer li{
    font-size: 0.7em;
  }

  footer .subscriptionFooter .subscriptionContainer {
    width: 100%;
    margin: auto;
  }
}

@media all and (max-width: 500px) {
  header .logoContainer h1{
    display: none;
  }

  header .logoContainer h2{
    display: none;
  }

  header .middlenavContainer{
    font-size: 0.5em;
  }

  header .bottomnavContainer{
    font-size: 0.7em;
  }

  main .buttonContainer {
    width: 60%;
    /* border-bottom: 0.1em solid #888; */
    text-align: center;
    margin: 0 auto;
    padding: 2em 0 0 0;
  }

  footer .subscriptionFooter .subscriptionContainer{
    width: 100%;
    padding: 0 1em;
  }

  footer .subscriptionFooter .subscriptionContainer form{
    line-height: 100px;
  }

  footer .policyContainer ul{
    width: 50%;
  }

  footer .policyContainer ul {
    padding: 1em 0.6em;
  }
}

@media all and (max-width: 415px){
  header .headernavContainer {
      font-size: 0.8em;
  }

  header .logoContainer form input[type=text] {
    width: 5em;
}

  header .logoContainer form{
      width: 70%;
  }

  header .middlenavContainer li {
      padding: 0 1em;
  }

  main .carouselContainer .prev, .next {
    font-size: 1em;
}

  footer .subscriptionFooter .subscriptionContainer {
    display: inline-block;
    text-align: center;
  }

  footer .subscriptionFooter .subscriptionContainer h4 {
    width: 50%;
    border-right: none;
    border-bottom: 0.1em solid #fff;
    margin: auto;
    float: none;
  }

  footer .subscriptionFooter .subscriptionContainer p{
    width:80%;
    padding: 1em 0;
  }

  footer .subscriptionFooter .subscriptionContainer form{
    width: 100%;
    line-height: 0px;
    text-align: center;
  }
}

@media all and (max-width: 415px){
  header .middlenavContainer li {
    padding: 0 0.7em;
  }

  footer .subscriptionFooter .subscriptionContainer h4{
    width: 55%;
  }

  footer .copyrightContainer h5{
    width: 100%;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {


}

/* All small mobile devices in portrait */
@media only screen and (max-width:747px) and (orientation:portrait){


} /* DO NOT DELETE - Breakpoint End */

/* All small mobile devices in landscape */
@media only screen and (max-width:747px) and (orientation:landscape){

}
/*iPhone X*/
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

}

/*iPhone X devices in portrait*/
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3)
	and (orientation:portrait) {
}

/* iPhone 8 devices */
@media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2) {

}

/*iPhone 8 Plus*/
@media only screen
    and (device-width : 414px)
    and (device-height : 736px)
    and (-webkit-device-pixel-ratio : 3) {


}

/* iPhone 6 in portrait & landscape */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {


}

/* iPhone 6 in landscape */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {


}

/* iPhone 6 in portrait */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {


}

/* iPhone 6 Plus in portrait & landscape */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {

}

/* iPhone 6 Plus in landscape */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {

}

/* iPhone 6 Plus in portrait */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {

}

/* iPhone 5 & 5S in portrait & landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

}

/* iPhone 5 & 5S in landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

}

/* iPhone 5 & 5S in portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}

/*
  iPhone 2G, 3G, 4, 4S Media Queries
  It's noteworthy that these media queries are also the same for iPod Touch generations 1-4.
*/

/* iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

/* iPhone 2G-4S in landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {

}

/* iPhone 2G-4S in portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {

}

/* iPad in portrait & landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

}

/* iPad in landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPad in portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

} /* Do not delete */

/* Galaxy S3 portrait and landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

}

/* Galaxy S3 portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Galaxy S3 landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* Galaxy S4 portrait and landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* Galaxy S4 portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Galaxy S4 landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* Galaxy S5 portrait and landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* Galaxy S5 portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Galaxy S5 landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* HTC One portrait and landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* HTC One portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* HTC One landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/*
  iPad 3 & 4 Media Queries
  If you're looking to target only 3rd and 4th generation Retina iPads
  (or tablets with similar resolution) to add @2x graphics,
  or other features for the tablet's Retina display, use the following media queries.
*/

/* Retina iPad in portrait & landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Retina iPad in landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Retina iPad in portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/*
  iPad 1 & 2 Media Queries
  If you're looking to supply different graphics or choose different typography
  for the lower resolution iPad display, the media queries below will work
  like a charm in your responsive design!
*/

/* iPad 1 & 2 in portrait & landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad 1 & 2 in landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad 1 & 2 in portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in portrait & landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Galaxy Tab 10.1 portrait and landscape */
@media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {

}

/* Galaxy Tab 10.1 portrait */
@media
  (max-device-width: 800px)
  and (orientation: portrait) {

}

/* Galaxy Tab 10.1 landscape */
@media
  (max-device-width: 1280px)
  and (orientation: landscape) {

}

/* Asus Nexus 7 portrait and landscape */
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Asus Nexus 7 portrait */
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332)
  and (orientation: portrait) {

}

/* Asus Nexus 7 landscape */
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332)
  and (orientation: landscape) {

}

/* Kindle Fire HD 7" portrait and landscape */
@media only screen
  and (min-device-width: 800px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Kindle Fire HD 7" portrait */
@media only screen
  and (min-device-width: 800px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation: portrait) {

}

/* Kindle Fire HD 7" landscape */
@media only screen
  and (min-device-width: 800px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation: landscape) {

}

/* Kindle Fire HD 8.9" portrait and landscape */
@media only screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Kindle Fire HD 8.9" portrait */
@media only screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation: portrait) {

}

/* Kindle Fire HD 8.9" landscape */
@media only screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation: landscape) {

}

/* Laptops non-retina screens */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Laptops retina screens */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

}

/* Apple Watch */
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm) {

}

/* Moto 360 Watch */
@media
  (max-device-width: 218px)
  and (max-device-height: 281px) {

}
